@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr--dark: #222831;
  --clr--dark2: #393E46;
  --clr--light: #EEEEEE;
  --clr--light2: #00ADB5;
  color: #1d1d1d
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: var(--clr--light);
  background-color: var(--clr--dark);
}

.header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-decoration-color: #9ea0a5;
}

/*--------------------------Nav Section-----------------*/
.nav-header {
  padding-top: 15px;
  top:0;
  position: fixed;
  z-index: 1000;
  display: flex;
  width: 100vw;
  max-width: 100%;
  background-color: transparent;
}

nav .menu {
  position: absolute;
  z-index: 100000;
  top: 20px;
  right: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

nav .menu span {
  height: 5px;
  width: 100%;
  background-color: var(--clr--light);
  border-radius: 2px;
}

.nav-container {
  width: 100%;
}

.nav-list {
  display: flex;
  list-style-type: none;
  flex: 1;
  justify-content: right;
  padding-right:50px;
  align-items: center;
}

.list-item a {
  color: var(--clr--light);
  margin-left: 30px;
  font-size: 1.3rem;
  text-decoration: none;
}

.list-item a:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

/*----------------------Home Section--------------*/
#animated-area {
  position: relative;
  height: 100vh;
  margin-bottom: 100px;
  background: linear-gradient(to bottom,  #00ADB5 0%,#222831 100%);
}

canvas {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1;
}

.home {
  width: 100vw;
  padding-left:50px;
  padding-right:50px;
  max-width: 100%;
  position: absolute;
  z-index: 10;
  background:transparent;
}

.description-area {
  height:200px;
  margin-top: 30vh;
  margin-left: 200px;
}

.title {
  font-weight: bold;
  font-size: 3.8rem;
}

.animated-text {
  font-size: 1.7rem;
  font-weight: bold;
}

.social-icons {
  margin-top: 17px;
  font-size: 1.5rem;
}

.social-icon {
  margin-right: 15px;
}

.social-icons a {
  color: inherit;
}

.social-icons a:hover {
  opacity: 0.8;
}

/*-------------------About Section--------------*/
.about {
  display: grid;
  place-content: center;
  padding: 60px 100px;
  width: 100vw;
  max-width: 100%;
}

.about-container {
  display:flex;
  flex-direction: column;
  width: 1200px;
}

.about-me-content {
  margin-top: 30px;
  display:flex;
}

.picture {
  width: 200px;
  margin-right: 50px;
  flex: 1;
  border-style: solid;
  border-color: var(--clr--dark2);
  border-width: 5px;
  border-radius: 25px;
}

.about-me-area {
  flex: 2;
  margin-top: 30px;
}

.text {
  font-size: 1.2rem;
}

.icons {
  display: flex;
  margin-top: 25px;
  margin-left: 10px;
}

.icon-border {
  background-color: var(--clr--light);
  border-radius: 77px;
  border-style: solid;
  border-color: var(--clr--dark2);
  border-width: 5px;
  width: 144px;
  height: 144px;
  margin-right: 30px;
  display: grid;
  place-content: center;
}

.icon-border:hover{
  animation: shadow 1.5s;
}

@keyframes shadow {
  0% {
    box-shadow: 0 0 0 0 var(--clr--dark2);
  }
  25% {
    box-shadow: 0 0 0 6px var(--clr--dark2);
  }
  100% {
    box-shadow: 0 0 0 0 var(--clr--dark2);
  }
}

.about-icon {
  width: 110px;
}

/*--------------------Skills Section------------------------*/

.skills {
  display: grid;
  place-content: center;
  padding: 60px 100px;
  width: 100vw;
  max-width: 100%;
  display: flex;
}

.resume {
  margin-top: 25px;
  display:grid;
  place-content: center;
}

.resume-button {
  text-decoration: none;
  color: inherit;
  width: 120px;
  height: 45px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
  border-style: solid;
  border-color: var(--clr--light);
  border-width: 2px;
  border-radius: 20px;
}

.resume-button:hover {
  transition: 0.3s;
  background-color: var(--clr--light);
  color: var(--clr--dark);
}

.skill-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  margin-top: 30px;
}

.skill-border {
  height:175px;
  width:175px;
  background-color: var(--clr--dark2);
  border-radius: 50px;
  display:grid;
  place-content: center;
  margin-right: 12px;
  margin-left: 12px;
  margin-bottom: 20px;
}


.skill-image {
  width: 100px;
}

.skill-tag {
  font-size: 1.3rem;
  text-align: center;
}

/*-----------------Projects Section---------------------------*/

.projects {
   padding: 60px 100px;
   display: grid;
   place-content: center;
}

.project-container {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1200px;
  margin-top: 30px;
}

.project-border {
  display:grid;
  place-content: center;
  background-color: var(--clr--dark2);
  height: 225px;
  width: 350px;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-right: 25px;
  transition: all .2s ease-in-out;
}

.project-border:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.project-title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.project-image {
  width: 330px;
  border-radius: 40px;
}

/*-----------------------------Project Page Seciton---------------------*/

.project-page {
  display:grid;
  place-content: center;
}

.project-page-header {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
  text-decoration-color: #9ea0a5;
}

.return-button {
  position:absolute;
  left: 40px;
  top: 40px;
  color: inherit;
  font-size: 1.5rem;
}

.project-page-container {
  width: 600px;
  border-radius: 90px;
  background-color: var(--clr--dark2);
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  padding-top: 15px;
  padding-bottom: 50px;
}

.project-page-image {
  width: 500px;
  border-radius: 50px;
  margin-top: 20px;
  align-self: center;
}

.buttons {
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: bold;
}

.repo-button {
  margin-right: 30px;
  color: rgb(7, 6, 6);
  text-decoration: none;
}
.repo-button:hover {
  opacity: 0.7;
}
.repo-button:active {
  opacity: 1;
}

.demo-button {
  margin-right: 30px;
  color: rgb(7, 6, 6);
  text-decoration: none;
}
.demo-button:hover {
  opacity: 0.7;
}
.demo-button:active {
  opacity: 1;
}


.project-description {
  margin-left: 40px;
  margin-right: 40px;
  font-size: 1.2rem;
}

/*-----------------------------Contact Form-----------------------*/

.contact {
   display: grid;
   place-content: center;
   height: 100vh;
}

.contact-container {
  background-color: var(--clr--dark2);
  width: 1000px;
  border-radius: 90px;
  display: flex;
  margin-top: 0;
  flex-direction: column;
  padding: 15px 40px 50px 50px;
}

.submission-area {
  margin-top: 30px;
  display: flex;
}

.info {
  margin-left: 40px;
  margin-right: 70px;
  display:flex;
  flex-direction: column;
}

.contact-heading {
  font-weight: bold;
  font-size: 1.4rem;
}

.contact-details {
  font-size: 1.1rem;
}

.email {
  display:flex;
  margin-bottom: 30px;
  align-items: center;
}

.contact-icon {
  font-size: 1.5rem;
  margin-right: 5px;
}

.phone {
  display:flex;
  margin-bottom: 20px;
  align-items: center;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr auto auto;
}

.name-email {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 450px;
  margin-bottom: 10px;
}

.input-name {
  margin-right: 20px;
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  width: 215px;
  font-size: 1.1rem;
  font-family: inherit;
}

.input-email {
  height: 40px;
  padding: 10px;
  border-radius: 8px;
  width: 215px;
  font-size: 1.1rem;
  margin-bottom: 8px;
  font-family: inherit;
}

.message-area {
  grid-column-start: 1;
  grid-column-end: 3; 
  margin-bottom: 10px;
}

.input-message {
  width: 100%;
  padding: 13px;
  border-radius: 8px;
  height: 150px;
  font-size: 0.95rem;
  font-family: inherit;
}

.contact-submit {
  grid-column-start: 1;
  grid-column-end: 3;
  align-self: center;
  place-content: center;
}

.submit-button {
  border-radius: 20px;
  width: 160px;
  height: 45px;
  margin-left: calc(50% - 80px);
  font-weight: bold;
  font-family: inherit;
  font-size: 1rem;
}
.submit-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
.submit-button:active {
  opacity: 1;
}

#confirmation-message {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 10px;
  text-align: center;
  color: rgb(115, 224, 115);
  font-size: 1.1rem;
  display: none;
}
#failure-message {
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 10px;
  text-align: center;
  color: rgb(221, 82, 82);
  font-size: 1.1rem;
  display: none;
}

/*-----------------------------Media Queries-------------------*/
@media (max-width: 1200px) {
  .picture {
    width: 400px;
    margin: 0;
    align-self: center;
  }
  .about-container {
    width: 450px;
  }
  .about-me-content {
    flex-direction: column;
  }

  .icons {
    width: 100%;
    flex-wrap: wrap;
    margin-left: 40px;
  }
  .icon-border {
    margin-right: 60px;
    margin-bottom: 10px;
  }
  .skill-container {
    width: 600px;
  }

  .project-container {
    width: 800px;
  }


  .info {
    margin-right: 50px;
  }
  .contact-container {
    width: 400px;
  }
  .submission-area {
    flex-direction: column;
  }

  .contact-container {
    padding: 15px 15px 50px 15px;
  }
  form {
    display:flex;
    flex-direction: column;
  }
  .name-email {
    display:flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .input-name,
  .input-email {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 900px) {
  .home {
    padding: 0;
    display: grid;
    place-content: center;
  }

  .description-area {
    margin-left: 0;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .project-border {
    margin-left: 30px;
  }
}

 @media (max-width: 775px) {
  nav .menu {
    display: flex;
  }
  .nav-header{
    padding:0;
  }
  .nav-list {
    display: none;
    flex-direction: column;
    padding: 0;
    background-color: var(--clr--dark2);
    opacity: 0.95;
  }
  .nav-list.open {
    display: flex;
  }
  .list-item {
    padding: 12px 8px;
    width: 100%;
    text-align: center;
  }
  .list-item a {
    text-decoration: none;
  }
  .list-item a:hover {  
    transition: 100s;
    text-underline-offset: 5px;
    text-decoration: underline;
  }

  .animated-text {
    font-size: 1.8rem;
    text-align: center;
  }

  .text {
    text-align: center;
    font-size:1.1rem;
    padding-left: 8px;
    padding-right: 8px;
  }

  .picture {
    width: 380px;
  }

  .about-container,
  .skill-container, 
  .project-container {
    width: 400px;
  }

  .icons {
    width: 365px;
  }
  .icon-border {
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .return-button{
    top: 20px;
    left: 20px;
  }
  .project-page-container {
    width: 360px;
  }
  .project-page-header{
    font-size: 2.3rem;
    padding-top: 15px;
  }
  .project-page-image {
    width: 330px;
  }
  .project-description {
    text-align: center;
  }
}